@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Page find variables
    https://pagefind.app/docs/ui-usage/#customising-the-styles
*/
body {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
}
